body {
    font-family: "Lexend";
    margin: 0;
    padding: 0;
    overflow: hidden;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 0.0625rem;
    border-bottom: 0.0625rem dashed #ddd;
    margin: 2.5rem 0;
}

h1 {
    font-family: "Lexend Deca", sans-serif;
    font-size: 4.7em;
}

h2 {
    font-family: "Lexend", sans-serif;
    font-weight: bold;
}

h3 {
    font-family: "Lexend";
    font-size: 1.3em;
}

img {
    max-width: 80%;
}

.custom-scrollbar {
    position: relative;
    height: 12.5rem;
    overflow: auto;
}

.table-scroll-y {
    display: block;
}

.canvas_pie {
    width: 32% !important;
    height: 32% !important;
}

.canvas_calendar {
    width: 80% !important;
    height: 50% !important;
}

.sfondo {
    background-image: url("./immagini/Sfondo.png");
    background-size: cover;
    background-repeat: no-repeat;
}

footer {
    font-size: 0.9rem;
}

.card-custom {
    background-color: rgba(255, 255, 255, 0.13);
    border-radius: 0.625rem;
    backdrop-filter: blur(0.625rem);
    border: 0.125rem solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 2.5rem rgba(8, 7, 16, 0.6);
}

.img-card {
    border-radius: 1.5625rem;
    border: 1rem solid rgba(33, 37, 41, 0);
}

select {
    background-color: #333;
    color: #fff;
}

.form-label-group.outline select option {
    background-color: #212529; /* $gray-100 in Bootstrap */
    color: #e8f7ff; /* $gray-900 in Bootstrap */
}

.input-space {
    margin-right: 0.625rem !important;
}

.ol-popup {
    font-family: 'MADE Tommy Soft', sans-serif !important;
    font-size: 0.75rem;
    position: absolute;
    background-color: white;
    -webkit-filter: drop-shadow(0 0.0625rem 0.25rem rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0 0.0625rem 0.25rem rgba(0, 0, 0, 0.2));
    padding: 0.9375rem;
    border-radius: 0.625rem;
    border: 0.0625rem solid #cccccc;
    bottom: 0.75rem;
    left: -3.125rem;
    min-width: 6.25rem;
}

.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 0.125rem;
    right: 0.5rem;
}

.ol-popup-closer:after {
    content: "✖";
    color: #c3c3c3;
}

.ol-popup:after,
.ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.ol-popup:after {
    border-top-color: white;
    border-width: 0.625rem;
    left: 3rem;
    margin-left: -0.625rem;
}

.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 0.6875rem;
    left: 3rem;
    margin-left: -0.6875rem;
}

.custom-carousel-icon {
    font-size: 1.5rem; /* Imposta la dimensione dell'icona */
    color: #ffffff; /* Imposta il colore bianco per l'icona */
}

.carousel-inner img {
    width: auto; /* Mantieni le proporzioni */
    height: auto; /* Mantieni le proporzioni */
}

/* Applica questo stile solo alle images che superano i 500px di larghezza */
@media screen and (min-width: 50rem) {
    .carousel-inner img {
        max-width: 80%; /* Riduci la larghezza massima al 90% */
    }
}

.carousel-item img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.carousel-item video {
    width: 100%; /* Imposta la larghezza al 100% del contenitore */
    height: auto; /* Mantieni le proporzioni */
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    position: fixed;
    min-width: 20rem;
    max-width: 20rem;
    background: #101415;
    color: #fff;
    transition: all 0.3s;
    height: 100vh;
    overflow-x: hidden; /* Aggiungi questa linea */
    top: 0;
}

#sidebar.active {
    margin-left: -20rem;
}

#content {
    margin-left: 20rem; /* Aggiungi questa linea */
}

#sidebar ul.components {
    padding: 1.25rem 0;
    border-bottom: 0.0625rem solid #47748b;
}

.container-fluid {
    margin-left: 20rem; /* This should be the width of your sidebar */
}

.container-fluid-accedi {
    margin-left: 0;
}

#sidebar ul p {
    color: #000000;
    padding: 0.2rem 0.625rem; /* Riduci il padding superiore e inferiore */
    white-space: nowrap; /* Fai in modo che il testo stia in una sola linea */
    overflow: hidden; /* Nascondi il testo in eccesso */
    text-overflow: ellipsis; /* Aggiungi i puntini di sospensione se il testo è troppo lungo */
    margin-left: 0; /* Rimuove il margine sinistro */
    padding-left: 0; /* Rimuove il padding sinistro */
    font-size: 0.9rem
}

#sidebar ul li a {
    padding: 0.625rem;
    font-size: 1.1em;
    display: block;
    border-radius: 0.625rem;
    border: none; /* Rimuove il colore del bordo */
    margin: 0.625rem; /* Aggiunge un margine su tutti i lati */
    white-space: nowrap; /* Fai in modo che il testo stia in una sola linea */
    overflow: hidden; /* Nascondi il testo in eccesso */
    text-overflow: ellipsis; /* Aggiungi i puntini di sospensione se il testo è troppo lungo */
    background: #D9D9D9;
    color: #000;
}

#sidebar ul li a:hover p {
    color: #D9D9D9;
}

#sidebar ul li a:hover {
    color: #D9D9D9;
    background: #8044C5;
    border-radius: 0.625rem;
    border: none; /* Rimuove il colore del bordo */
    margin: 0.625rem; /* Aggiunge un margine su tutti i lati */
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
    color: #fff;
    background: #8044C5;
}

#sidebar ul li.active p {
    color: #fff;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 1.25rem;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 1.875rem !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 1.25rem;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 0.3125rem;
    margin-bottom: 0.3125rem;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 1.25rem;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 48rem) {
    #sidebar {
        margin-left: -20rem;
    }

    #sidebar.active {
        margin-left: 0;
    }

    #sidebarCollapse span {
        display: none;
    }
}

.disabled a {
    pointer-events: none;
    color: grey;
}

#form {
    position: fixed;
    bottom: 0;
    width: calc(100% - 20rem); /* This will take up the rest of the width */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    z-index: 1000; /* This ensures the form stays on top of other elements */
}

.customForm {
    left: 20rem; /* This should be the width of your sidebar */
}


/* ... altre proprietà della classe .messaggio ... */
.mask-custom {
    background: rgba(24, 24, 16, .2);
    border-radius: 2em;
    border: 2px solid rgba(255, 255, 255, 0.05);
}

.card-full-page {
    position: relative;
    width: calc(100% - 2.5rem); /* Sottrai i margini orizzontali */
    height: calc(100vh - 2.5rem - 3.5rem - 2.5rem); /* Sottrai i margini verticali, l'altezza della navbar e del footer */
    overflow-y: auto;
    padding: 1.25rem;
    box-sizing: border-box;
    margin: 1.25rem; /* Aggiungi margini verticali e orizzontali */
    border: 0.0625rem solid gray; /* Aggiungi un bordo grigio */
    border-radius: 0.625rem; /* Aggiungi bordi smussati */
}